.titulo{
    line-height: 0%;
    padding: 25px 50px 10px 50px; /* arriba derecha abajo izquierda */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.google-maps{
    text-align: center;
    padding: 5px 50px 25px 50px; /* arriba derecha abajo izquierda */
}