@media only screen and (max-width: 1270px) {
    .logo-titulo{
        .titulo-principal{
            display: flex;    
            padding-left: 180px;
        }        
    }
  }  

  
@media screen and (max-width:1024px){

    .logo-titulo{
        .titulo-principal{
            padding-left: 100px;
        }        
    }
}

@media screen and (max-width:970px){
    
    .logo-titulo{
        .titulo-principal{
            padding-left: 50px;
        }        
    }

    ul{
       li{
        a{
            padding: 1px;
        }
       } 
    }
}

@media screen and (max-width:900px){
    .logo-titulo{
        .titulo-principal{
            display: none;
        }        
    }

    ul{
        display: flex;
        justify-content: flex-end;
        li{
            a{
                padding: 0px;
            }
        }
    }
}

@media screen and (max-width:850px){
    ul{
        display: flex;
        flex-direction: column;        
    }
    .parrafo-direccion{       
        padding: 10px;
    }
}

@media screen and (max-width:610px){
    .pie-pagina{
        .grupo-1{
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding-left: 10px;
        }        
    }

    .logo-titulo{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 0px;
    }

    .formulario{
        display: flex;
        text-align: center;
        padding: 20px;
    }
}

@media screen and (max-width:480px){
    .pie-pagina{
        .grupo-1{
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding-left: 10px;
        }        
    }

    .logo-titulo{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 0px;
    }
}