.parrafo{
    padding: 25px 50px 25px 50px; /* arriba derecha abajo izquierda */
    text-align: left;
    font-weight: bold;
}

.parrafo-direccion{
    line-height: 0%;
    padding: 0px 50px 25px 50px; /* arriba derecha abajo izquierda */
    text-align: center;
    font-weight: bold;
}