.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-left: 200px;
    color: #BFD7B5;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "chivo Mono", monospace;

    &:hover{
        font-size: 51px;
    transition: 0.5s;
    }
}